<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户管理系统</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/client_table.css" type="text/css" />
</head>
<body>
<div id="main">
    <el-container>
        <div th:replace="common :: el_aside"></div>
        <el-container>
            <el-header>首页</el-header>
            <el-main style="height: 650px">
            </el-main>
        </el-container>
    </el-container>

</div>

</body>

<div th:replace="common :: common_script"></div>
<script src="js/main.js"></script>
</html>